.container {
  /* padding: 5rem 0rem 0rem 0rem; */
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
  


.backToHome {
  max-width: 60rem;
    margin: 3rem 0 0;
  }



.footer {
  width: 100%;
  background-color: gray;  
  color: white;  
  text-align: left; 
  text-indent: 20px;
}

.momentsfooter {
  width: 100%;
  background-color: black;  
  color: white;  
  text-align: left; 
  text-indent: 20px;
}

.rightPart {
  position: relative;
  left: 100px;
}