.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hireForm{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hireForm input{
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
}

.hireForm button{
    background: wheat;
    border: none;
    border-radius: 10px;
}