@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.container {
  background-image: url("../public/images/beach.JPG");
  background-size: cover;
  min-height: 1200px;
  margin-top: -10%;
  color: #eaeaea;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



.card {
  margin: 200px auto 0px 100px;
  width: 420px;
  height: 210px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: #e9edc9;
  color: #2b2839;
  border-bottom: 6px solid #faedcd;
  box-shadow: 5px 5px 5px;
  animation-duration: 3s;
  transition: 2s;
  overflow:visible;
}

#avatar {
  margin: 0px;
  width: 150px;
  height: 150px;
  animation: zoomout 0.8s forwards;
  border-radius: 50%;
}

@keyframes zoomout {
  0% {
    scale: 1.4;
    margin-bottom: 30px;
  }

  20%{
    margin-bottom: 50px;
    scale: 1.6;
  }

  90% {
    scale: 0.8;
    margin-bottom: -10px;
  }

  100% {
   scale: 1;
   margin-bottom: 0px;
  }
}

#avatar:hover {
  animation: zoomin 0.5s forwards;
}

@keyframes zoomin {
  0% {
    margin-bottom: 0px;
    scale: 1;
  }

  90%{
    margin-bottom: 50px;
    scale: 1.6;
  }

  100% {
    margin-bottom: 30px;
    scale:1.4;
  }
}


.intro {
  padding: 50px 20px;
  margin: 0px 80px 0px auto;
  text-align: center;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  background: linear-gradient(rgba(127, 148, 213, 0.8),rgba(160, 225, 146, 0.8));
  color: whitesmoke;
}

.intro p,
.intro h1 {
  text-shadow: 0px 0px 1px black;
}

#hobby{
  margin: 30px auto 0px 80px;
  background: linear-gradient(rgba(160, 225, 146, 0.8),rgba(184, 56, 56, 0.8));
  box-shadow: -5px 5px 5px black;
}

#music{
  color: whitesmoke;
  margin: 30px auto 0px 200px;
  background: rgb(118, 87, 40, 0.8) ;
  box-shadow: -5px 5px 5px black;
}