.container {
  user-select: none;
}

.homebg {
  background-image: url("../public/images/beach.JPG");
  background-size: cover;
}

.momentsbg {
  background-image: url("../public/images/momentsbg.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer {
  width: 100%;
  padding: 10px;
  background: rgb(240, 249, 255);
  color: black;
  text-align: center;
  margin: 0;
}


.moments {
  color:whitesmoke;
  background-color: black;
}
