.main {
    /* for moments page to be just 100 view height */
    flex-grow: 1;
    height: 500px;
    border: 2px solid red;
    padding: 0 50px;
    /* for the content to be flex row direction */
    display: flex;
    justify-content: space-between;
}

.placeArea {
    /* for the cards to places in colunm flex box */
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid red;

    background: whitesmoke;
    padding: 25px;
    width: 30vw;
    overflow: scroll;
}

.placeArea::-webkit-scrollbar {
    display: none;
}

.placecard {
    padding: 20px 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: whitesmoke;
}

.globe {
    flex-grow: 1;
    border: 2px solid red;
}