.main {
    /* for moments page to be just 100 view height */
    flex-grow: 1;
    height: 300px;
    border: 2px solid red;
    padding: 0 50px;
    /* for the content to be flex row direction */
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.placeArea {
    /* for the cards to places in colunm flex box */
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid red;

    background:rgb(11, 11, 11) ;
    padding: 25px;
    width: 30vw;
    overflow: scroll;
}

.placeArea::-webkit-scrollbar {
    display: none;
}

.placecard {
    color:whitesmoke;
    padding: 20px;
    box-shadow: 1px 1px 8px rgba(255, 254, 254, 0.25);
    transition: box-shadow 0.4s ease;
    border-radius: 10px;
    background: rgb(11, 11, 11);
    cursor: pointer;
}

.placecard:hover{
    box-shadow: 0 0px 15px rgba(255, 255, 255, .8);

}

.globe {
    flex-grow: 1;
    border: 2px solid red;
}