.main {
    width: 100vw;
    display: flex;
    padding: 2rem;
    height: 88vh;
}

.placearea {
    width: 30vw;
    overflow: auto;
    padding: 10px;
    background-color: white;
    opacity: 0.7;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* &::-webkit-scrollbar {
        display: none;
    } */
}
.placecard {
    /* flex: 1 0 auto; */
    width: 90%;
    margin: 1rem 0rem;
    height: 100px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 13px;
    background-color: white;
    align-self:center ;

}

.globe {
    width: 70vw;
}