.container {
    position: sticky;
    top: 0px;
    height: 120px;
    z-index: 3;
    user-select: none;
    font-weight: lighter;
}

.mainContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    padding: 20px 50px;
}

.mainContainer:hover {
    background: rgb(240, 249, 255);
    box-shadow: 1px 1px 10px;
}

.mainContainerScroll {
    padding: 0px;
    background: rgb(240, 249, 255);
}

.mainContainerScroll:hover {
    padding: 10px 0px;
}

.momentsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    color: aliceblue;
}


.momentsContainer:hover {
    padding: 10px 0px;
    background: black;
}

.nav-icon {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.nav-icon img {
    margin-right: auto;
    width: 30px;
    height: 30px;
    transition: 1s;
}

.nav-icon img:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.nav-icon h1 {
    min-width: max-content;
    transition: 0.5s;
    margin-left: auto;
}

.nav-icon h1:hover {
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -1px 1px 3px;
    transition: 0.5s;
}

.nav-icon-large {
    transition: 0.5s;
    transform: scale(1.2);
}

.nav-item {
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 0px;
}

.nav-item li {
    width: fit-content;
    font-weight: 100;
    transition: 0.1s;
    font-size: 22px;
}


.nav-item li:hover {
    transition: 0.1s;
    scale: 1.3;
    font-weight: 500;
}


.emoji {
    cursor: help;
    font-size: 250%;
    padding-right: 30px;
    transition: 0.5s;
}