.container {
    padding: 0 50px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
}

/* left side */
.left-sidebar {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 0px lightgrey;
}

/* main part */
.xpress {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.avatar-area {
    display: flex;
    height: 180px;
    margin-right: auto;
}

.avatar-area img {
    display: inline-block;
    width: 150px;
}

.typing-area {
    border-bottom: 1px solid lightgray;
    padding: 0 0 60px 0;

}

.typing-area textarea {
    border: none;
    resize: none;
    padding: 10px;
    height: 200px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
}

.typing-area button{
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    padding: 20px 50px;
    border-radius: 10px;
    background: lightpink;
    box-shadow: 0 3px 2px;
}

.x{
    font-size: 20px;
}
.typing-area button:hover{
    background: rgb(248, 155, 169);
}
.typing-area button:active{
    box-shadow: 0 0px 2px;
    transform: translateY(4px);
}

.posts{
    padding: 20px 0 0 0;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.posts-inner{
    display: flex;
    gap: 20px;
}

.posts-inner img{
    align-self: self-start;
    width: 48px;
}

.posts-main{
    width: 100%;
}

.poster-info{
    display: flex;
    justify-content: space-between;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.time{
    font-size: 12px;

}
.posts-main p{
    border: 1px solid red;
    padding: 0 0 30px 0;
}
.posts-details{
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}
/* right side */
.right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 0px lightgrey;
    height: 70vh;
}